<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" http-equiv="X-UA-Compatible" content="ie=edge">
        <title>testing</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="content">
            <h1>CTF Logs</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Method</th>
                    <th>Challenge</th>
                </tr>
                    {% for challenge in challenges %}
                    <tr>
                        <td>{{ challenge[0] }}</td>
                        <td>{{ challenge[1] }}</td>
                        <td>{{ challenge[2] }}</td>
                        <td>{{ challenge[3] }}</td>
                        <td>{{ challenge[4] }}</td>
                    </tr>
                    {% endfor %}
            </table>
            <form action="/" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <label for="passwd">Password</label>
                <input type="text" name="passwd" id="passwd">
                <label for="method">Method</label>
                <input type="text" name="method" id="method">
                <label for="challenge">Challenge</label>
                <input type="text" name="challenge" id="challenge">
                <input type="submit" value="add entry">
            </form>
            <form action="/remove" method="POST">
                <input type="submit" value="remove last entry">
            </form>
            <form action="/removeAll" method="POST">
                <input type="submit" value="remove all entries">
            </form>
            <form action="/changeUser" method="POST">
                <label for="usernameChange">New Username</label>
                <input type="text" name="usernameChange" id="usernameChange">
                <label for="id">ID of entry</label>
                <input type="text" name="id" id="id">
                <input type="submit" value="change username">
            </form>
            <form action="/changePassword" method="POST">
                <label for="passwordChange">New Password</label>
                <input type="text" name="passwordChange" id="passwordChange">
                <label for="id">ID of entry</label>
                <input type="text" name="id" id="id">
                <input type="submit" value="change password">
            </form>
            <form action="/changeMethod" method="POST">
                <label for="methodChange">New Method</label>
                <input type="text" name="methodChange" id="methodChange">
                <label for="id">ID of entry</label>
                <input type="text" name="id" id="id">
                <input type="submit" value="change method">
            </form>
            <form action="/changeChallenge" method="POST">
                <label for="challengeChange">New Challenge Name</label>
                <input type="text" name="challengeChange" id="challengeChange">
                <label for="id">ID of entry</label>
                <input type="text" name="id" id="id">
                <input type="submit" value="change challenge">
            </form>
            <form action="/filterChallenge" method="POST">
                <label for="challengeFilter">Challenge Name for filter</label>
                <input type="text" name="challengeFilter" id="challengeFilter">
                <input type="submit" value="filter challenges">
            </form>
            <form action="/searchChallenges" method="POST">
                <label for="searchTermChoice">Which would you like to search</label>
                <input type="radio" id="ID" name="searchTermChoice" value="ID">
                <label for="ID">ID </label>
                <input type="radio" id="Username" name="searchTermChoice" value="Username">
                <label for="Username">Username </label>
                <input type="text" name="searchTerm" id="searchTerm">
                <input type="submit" value="search">
            </form>
            <h1>Filtered/searched Logs</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Method</th>
                    <th>Challenge</th>
                </tr>
                    {% for challenge in filteredChallenges %}
                    <tr>
                        <td>{{ challenge[0] }}</td>
                        <td>{{ challenge[1] }}</td>
                        <td>{{ challenge[2] }}</td>
                        <td>{{ challenge[3] }}</td>
                        <td>{{ challenge[4] }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </body>
</html>
