<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" http-equiv="X-UA-Compatible" content="ie=edge">
        <title>testing</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="content">
            <h1>OverTheWire Logs</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Method</th>
                    <th>Actions</th>
                </tr>
                <tr>
                {% for log in logs %}
                    <td>{{ log.id }}</td>
                    <td>{{ log.username }}</td>
                    <td>{{ log.passwd }}</td>
                    <td>{{ log.method }}</td>
                    <td>
                        <a href="">Delete</a>
                        <br>
                        <a href="">Update Password</a>
                        <br>
                        <a href="">Update Method</a>
                    </td>
                </tr>
            </table>
            <form action="/" method="POST">
                <input type="number" name="id" id="id">
                <label for="username">username</label>
                <input type="text" name="username" id="username">
                <label for="password">password</label>
                <input type="text" name="password" id="password">
                <label for="method">method</label>
                <input type="text" name="method" id="method">
                <input type="submit" value="add entry">
            </form>
        </div>
    </body>
</html>
